deu-tootbox {
    padding: 10px 5%;
    animation-name: entrance;
    animation-duration: .3s;
    display: flex;
}

    deu-tootbox:hover { /* TODO: move :hover, .selected to flowitemcontainer */
        background: rgba(128, 128, 128, 0.3);
    }

    deu-tootbox deu-tootbox:hover {
        background: transparent;
    }

    deu-tootbox.selected {
        background: rgba(128, 128, 128, 0.5);
    }

        deu-tootbox.selected:hover {
            background: rgba(128, 128, 128, 0.7);
        }

    deu-tootbox.deleted {
        filter: opacity(.2); /* opacity: 0.2; Use filter not to collide with the use of entrance effect */
    }

.tootbox-inheritcolor {
    color: inherit;
}

.tootbox-usercontent {
    display: flex;
}

.tootbox-replyindicator {
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-right: 8px solid gray;
    border-bottom: 10px solid transparent;
    margin-top: 19px; /* 4px + (50px - 20px) / 2 */
    margin-right: 6px;
}

.tootbox-videoindicator {
    width: 0;
    height: 0;
    border-top: 25px solid transparent;
    border-left: 43px solid gray;
    border-bottom: 25px solid transparent;
}

.tootbox-userimage {
    width: 48px;
    height: 48px;
    margin-top: 4px;
    margin-right: 6px;
    box-sizing: border-box;
}

.tootbox-topwrapper {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.tootbox-usernamewrapper {
    font-size: 1.2em;
    overflow: hidden;
    display: flex;
}

.tootbox-screenname {
    margin-left: 0.3em;
    flex: 1;
}

.tootbox-timestamp {
    margin-left: 0.5em;
    white-space: nowrap;
}

.tootbox-text {
    max-height: 300px; /* experimental, to prevent super-tall toots from ruling them all */
    overflow-y: auto;
    -ms-overflow-style: scrollbar;
}

    .tootbox-text p {
        margin: 0 0 16px 0;
    }

        .tootbox-text p:last-child {
            margin-bottom: 0;
        }

    .tootbox-text a {
        text-decoration: none;
    }

        .tootbox-text a:hover {
            text-decoration: underline;
        }

.tootbox-subcontent {
    display: flex;
    margin-top: 7px;
}

    .tootbox-subcontent > deu-tootbox {
        padding: 0;
        flex: 1;
        overflow: hidden;
    }

.tootbox-usernamewrapper.tootbox-mini {
    font-size: 1em;
}

.tootbox-timestamp.tootbox-mini {
    font-size: .8em;
}

.tootbox-userimage.tootbox-mini {
    width: 16px;
    height: 16px;
    margin-top: 3px;
}

.tootbox-subcontent-titlebox {
    padding: 3px 3px 10px 3px;
    margin-right: 7px;
    font-size: 10px;
    color: #dedede;
}

sa-timeline {
    display: block;
}

deu-screen sa-timeline {
    height: 100%;
    max-width: 500px;
    overflow: auto;
}

deu-screen {
    display: block;
    width: 100%;
    height: 100%;
}

deu-flow {
    display: block;
}

    deu-flow .flow-hole {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: darkgrey;
    }

        deu-flow .flow-hole:hover {
            background-color: grey;
        }

        deu-flow .flow-hole:active {
            border: 1px solid lightgrey;
        }

    deu-flow:not([hashole]) .flow-hole:first-child,
    deu-flow:not(:last-child) .flow-hole:last-child,
    deu-flow[lastitem] .flow-hole:last-child {
        display: none;
    }
