@import "customelements/tootbox.css";
@import "customelements/flow.css";
@import "customelements/timeline.css";
@import "customelements/screen.css";
@import "customelements/notibox.css";
@import "customelements/writer.css";

body {
  background-color: #1a1a1a;
  color: white;
  font-family: Segoe UI, Yu Gothic UI, sans-serif;
}

dialog {
    color: inherit;
    padding: 0;
}

.clickable:hover:not(:disabled) {
    filter: brightness(.8);
}

.clickable:active:not(:disabled) {
    filter: brightness(.6);
}

.clickable:disabled {
    opacity: 0.2;
}

.ellipsiswrap {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.flexfill {
    overflow: hidden;
    flex: 1;
}

.invisible {
    display: none !important;
}

.ellipsis::after {
    content: "...";
}

.limitedwidth {
    width: 100%;
    max-width: 600px;
    height: 95%;
}

.nobackground {
    background-color: transparent;
}

.nodecoration {
    text-decoration: none;
}

.selectable {
    -webkit-user-select: element; /* paradoxically Edge specific */
    user-select: contain;
}

.textbutton {
    border: none;
    box-sizing: border-box;
    color: inherit;
    font-family: "Segoe MDL2 Assets", sans-serif;
    font-size: 24px;
    width: 48px;
    height: 48px;
}

.textwrap {
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: pre-wrap;
    overflow-x: hidden;
}

.underlineonhover:hover {
    text-decoration: underline;
}

.vertical-inner {
    display: inline-block;
    transform: translate(0px, 100%) rotate(-90deg);
    transform-origin: 0 0;
    text-transform: uppercase;
    white-space: nowrap;
    line-height: 1em;
}

    .vertical-inner::after {
        content: "";
        float: left;
        margin-top: 100%;
    }

.vertical-outer {
    width: 1em;
    display: inline-block;
    overflow: hidden;
}

*:focus:not(.focus-visible) { outline: none; }
