body {
  background-color: #1a1a1a;
  color: white;
  font-family: Segoe UI, Yu Gothic UI, sans-serif;
}

.ellipsiswrap {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.flexfill {
    overflow: hidden;
    flex: 1;
}

.hidden {
    display: none;
}

.selectable {
    -webkit-user-select: element; /* paradoxically Edge specific */
    user-select: contain;
}

.textwrap {
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: pre-wrap;
    overflow-x: hidden;
}
