deu-flow {
    display: block;
    margin: 20px 5%;
}

    deu-flow .flow-hole {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: dimgrey;
        box-sizing: border-box;
        height: 30px;
    }

        deu-flow .flow-hole:hover {
            background-color: grey;
        }

        deu-flow .flow-hole:active {
            border: 1px solid lightgrey;
        }

    deu-flow:not([hashole]):not(:first-child) .flow-hole:first-child,
    deu-flow:not(:last-child) .flow-hole:last-child {
        display: none;
    }

@media (max-width: 500px) {
    deu-flow {
        margin: 10px 5%;
    }
}
