sa-timeline {
    display: block;
    overflow-y: auto;
}

    sa-timeline.realtime deu-flow:not([hashole]):first-child .flow-hole:first-child,
    sa-timeline.no-procedings deu-flow:last-child .flow-hole:last-child {
        display: none;
    }
